@import '../quasar.variables'

.bg-gradient-primary
    background: $steel;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $steel, $gray);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $steel, $gray); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
