@import '../quasar.variables'

.bg-gradient-primary
    background: $primary;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, $primary, $grey-9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, $primary, $grey-9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
